<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
    <%= menu %>
  </header>

  <body>
    <h1>Poluição</h1>

    <div>
      <p align="justify">
        <h2>Conceitos e classificação</h2>
          <br>
          Os conceitos de enxurrada, inundação, enchente e alagamento costumam ser confundidos entre si por tratarem todos de impactos que podem ser naturais
          ou não, mas preterivelmente são ocasionados pela água. São abordados de diferentes maneiras por um grande número de pesquisadores especialistas
          no assunto.
          <br>
        <h2>Enxurrada</h2>
          <br>
          O termo enxurrada é conceituado, normalmente, por secretarias locais de Defesa Civil. A prefeitura de Porto Alegre em conjunto a Secretaria
          de Defesa Civil da cidade classifica as enxurradas como “volume de água que escoa na superfície do terreno, com grande velocidade, resultante
          de fortes chuvas”.1 A Classificação de Codificação Brasileira de Desastres (COBRADE), em 2012, também conceitua a enxurrada como escoamento
          superficial de alta velocidade e energia, provocado por chuvas intensas e concentradas, normalmente em pequenas bacias de relevo acidentado.
          É caracterizada pela elevação súbita das vazões de determinada drenagem e transbordamento brusco da calha fluvial.
          <br>
        <h2>Inundação</h2>
          <br>
          O conceito de inundação já vem sendo abordado por um número maior de autores e é a nomenclatura mais utilizada para classificar eventos em
          áreas urbanas. Autores como Tucci (2007) diz que a ocorrência de inundações em centros urbanos é tão antiga quanto às cidades ou qualquer
          aglomerado urbano. A inundação ocorre quando as águas dos rios, riachos, galerias pluviais saem do leito de escoamento devido à falta de
          capacidade de transporte de um destes sistemas e ocupa áreas onde a população utiliza para moradia, transporte, recreação, comércio,
          indústria, entre outros.
          <br><br>
          O autor ainda ressalva que tais eventos podem ser ocasionados devido ao comportamento natural dos rios e também ampliados pelo efeito de
          alteração produzida pelo homem na urbanização, como, a impermeabilização das superfícies e canalização de córregos , caracterizam-se
          inundações como fenômeno natural, que ocorre quando a vazão a ser escoada é maior que a capacidade de descarga do sistema hídrico.
          A inundação em áreas ocupadas por atividades humanas, incompatíveis com a presença da água, se torna um desastre com perdas socioeconômicas
          de grande vulto.
          <br>
        <h2>Invasão de áreas mananciais</h2>
          <br>
          O direto fundamental a moradia e ao meio ambiente sadio entram em conflito a partir do momento em que as normas ambientais são
          desrespeitadas e áreas de preservação permanente, como as proximidades de rios e mananciais, são ocupadas por habitações humanas. Este
          conflito é apenas aparente visto que no caso concreto após a ponderação apenas um dos direitos prevalecerá e o outro sofrerá restrições
          temporárias.
          <br><br>
          Todavia, fenômeno que vem se constatando progressivamente no Brasil é que a efetivação, por parte dos poderes públicos, do direito à
          moradia vem se dando em áreas protegidas, ou seja, em áreas que devido as suas especificidades e natureza jurídica devem ter o uso e a
          ocupação restritas e sob a tutela de um manejo sustentável. Neste sentido, percebe-se ainda um movimento e flexibilização da legislação
          brasileira, tanto civil como ambiental, visando adequar e legalizar inúmera situações ilegais. Fatos estes previsíveis se levado em conta
          entre outros fatores o ‘movimento’ internacional pela ‘segurança de posse’ encabeçado elo Banco Mundial.
          <br><br>
          O direito à moradia é um direito que pode ser classificado como de segunda dimensão, pois é um direito social e exige um agir positivo do
          Estado como forma da realização de justiça social. Já o direito ao meio ambiente pode ser classificado como um direito de terceira dimensão
          , porque é direito de titularidade difusa que visa à proteção de grupos sociais e não apenas de um indivíduo na qualidade de cidadão.
          <br><br>
          Pode-se afirmar também que ambos são direitos fundamentais que estão sob a proibição do retrocesso social, a qual proíbe a supressão de uma
          norma de direito fundamental que já tenha sido garantida pelo Estado. Logo, nos casos onde ambos os direitos entram em conflito a supressão
          temporária de um deles para que o outro prevaleça deve ser seguida da satisfação, da maneira menos prejudicial possível, do direito
          restringido.
          <br><br>
          Contudo, quando o Estado se posiciona de maneira a legalizar situações que por ele já foram defesas em lei, este pode estar ferindo seus
          próprios princípios constitucionais é o que acontece nos casos em que o Poder Público concede a posse legal de áreas de preservação
          permanente aos ocupantes ilegais destas. Visto que, nestas situações o Estado estará dando prevalência no caso concreto para o direito à
          moradia sem nenhuma responsabilidade posterior de reparar os danos ambientais, danos estes que são irreversíveis e que têm alcance múltiplo
          , atingindo não apenas os moradores da região que tiveram seus interesses temporariamente satisfeitos, como também as gerações atuais e
          futuras.
          <br><br>
          A efetivação do direito à moradia não pode ocorrer em locais de preservação ambiental, pois pela ponderação feita entre os direitos
          fundamentais à moradia e ao meio ambiente se pode extrair que: o direito ao meio ambiente é classificado como de terceira dimensão e
          abrange um número muito maior de indivíduos e, que o direito à moradia mesmo que temporariamente restrito poderá ser satisfeito
          posteriormente em outro local e da forma menos prejudicial à comunidade envolvida.
          <br><br>
          Portanto, nos casos de comunidades instaladas às margens de rios e mananciais, considerados áreas de preservação permanente e, tendo em
          vista a escassez e a infungibilidade dos recursos hídricos, dever-se-á adotar posicionamento favorável a preservação ambiental e, a remoção
          das famílias deverá ser seguida da reinstalação das mesmas em casas populares, localizadas em outros locais.
          <br>
        <h2>Desmatamento no Brasil</h2>
          <br>
          O desmatamento ou desflorestamento refere-se à eliminação total ou parcial de qualquer tipo de cobertura vegetal. Atualmente, é considerado
          um dos maiores problemas ambientais.
          <br><br>
          No Brasil, houve um grande avanço no desmatamento com a chegada dos portugueses em 1500, os quais exploravam o pau-brasil para venda na
           Europa.
          <br><br>
          Contudo, com a Revolução Industrial do século XVIII, o desmatamento mundial alcançou uma aceleração sem precedentes.
          <br><br>
          O Brasil, assim como outros países tropicais, sofre com elevadas taxas de desmatamento. Entre as causas do desmatamento, destacam-se:
          <br><br>
          Atividade agrícola e pecuária, responsável por 80% do desmatamento mundial;
          <br><br>
          Urbanização: Exploração comercial de madeira, principalmente madeira de lei.
          <br><br>
          Estima-se que desde 1970, o Brasil já perdeu 18% das suas florestas por conta do desmatamento. Em tamanho, esse valor equivale ao
          território dos estados Rio Grande do Sul, Santa Catarina, Paraná, Rio de Janeiro e Espírito Santo.
          <br><br>
          Apesar de alguns anos mostrarem redução nas taxas de desmatamento, sabe-se que ele tem aumentado ao longo do tempo em todo o Brasil.
        <h2>Desmatamento na Amazônia</h2>
          <br>
          O desmatamento é a atividade humana que mais afeta a Amazônia. A área desmatada já é maior que o território da França.
          <br><br>
          Para se ter um exemplo da ameaça do desmatamento para a conservação da Amazônia, em 2001, as áreas desmatadas compreendiam 11% da Floresta
          Amazônica brasileira.
          <br><br>
          Quase 80% das áreas desmatadas da Amazônia tornaram-se passagens ou florestas em regeneração.
          <br><br>
          Entre 2015 e 2016, o desmatamento da Amazônia atingiu 7.989 km2, conforme o Instituto Nacional de Pesquisas Espaciais (INPE). Esse valor
          representa aumento de cerca de 30% em relação ao registrado entre 2014 e 2015.
          <br><br>
          O arco do desmatamento é a região de 500 mil km2 onde se concentra o desmatamento na Amazônia. Ele compreende os extremos leste e sul da
          região, nos estados de Rondônia, Acre, Mato Grosso e Pará.
          <br><br>
          Nessa região, a atividade agrícola, especialmente produção de soja, avança para o interior da floresta e compromete a sua conservação.
          <br><br>
          Para conter o desmatamento da Amazônia, em 2004, foi criado o Plano de Ação para Prevenção e Controle do Desmatamento na Amazônia Legal.
          <br><br>
          A região também é monitorada por satélites para que as áreas desmatadas possam ser registradas e os responsáveis pela ação sejam punidos.
        <h2>Desmatamento na Mata Atlântica</h2>
          <br>
          A Mata Atlântica representa o primeiro bioma brasileiro a ser desmatado. A devastação da floresta iniciou ainda na época da colonização com
          a exploração do pau-brasil.
          <br><br>
          Atualmente, restam menos de 12% da sua cobertura vegetal original.
          <br><br>
          No período de 2015 a 2016, os estudos indicam um desmatamento de 290 Km2, na Mata Atlântica, o que representa um aumento de 57,7% em
          relação ao período anterior. A Bahia foi o Estado que mais desmatou.
          <br>
        <h2>Desmatamento no Cerrado</h2>
          <br>
          A atividade agropecuária é a principal responsável pelo desmatamento do Cerrado. Como nos outros biomas brasileiros, as suas taxas de
          desmatamento também estão aumentando.
          <br><br>
          O Cerrado perdeu 9.483 km2 de vegetação no ano de 2015. Esse valor é superior ao desmatamento da Amazônia, no mesmo ano.
          <br><br>
          Estima-se que existam apenas 20% da sua vegetação original. Algumas projeções indicam que se a devastação da área não for controlada,
          o Cerrado pode desaparecer até 2030.
          <br><br>
          Quais são as consequências do desmatamento?
          <br><br>
          O desmatamento possui uma série de consequências que não se resumem apenas ao ambiente natural, mas também à vida dos seres humanos.
          <br><br>
          As florestas impedem a erosão e desertificação do solo, reciclam o gás carbônico e auxiliam na harmonização climática, especialmente no
          regime de chuvas.
          <br><br>
          As principais consequências do desmatamento são:
          <br><br>
          • Perda de biodiversidade;
          <br><br>
          • Exposição do solo à erosão;
          <br><br>
          • Perda de serviços ambientais;
          <br><br>
          • Desertificação;
          <br>
      </p>
    </div>
  </body>

  <%= link_to image_tag("/images/news-letter.png", height: "100", width: "250"), new_informativo_path %>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosaabarbosa
      </center>
    </small>
  </footer>
</html>
