<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @informativo.email %>
</p>

<%= link_to 'Edit', edit_informativo_path(@informativo) %> |
<%= link_to 'Back', informativos_path %>
