<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
    <%= menu %>
  </header>

  <body>

    <h1>Sobre nós</h1>

    <div>
    <p align="justify">
    Somos estudantes de Ciência da Computação na Universidade Paulista (UNIP), na cidade de São Paulo capital. Iniciamos nosso curso em 2015 com conclusão
    em 2018.
    <br><br>

    <center>
      <img id="images" src="/images/aps.jpeg" width="300" height="200" align="center"/>
      <br><br>
      Caso tenham mais interesse entre em contato através de nossas sociais
      </p>
        <br>
        <h4>Anderson Guilherme
          <br>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send?phone=5514997249881"><i class="fa fa-whatsapp" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.linkedin.com/in/anderson-guilherme-rozaboni-6021a055/"><i class="fa fa-linkedin-square" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.facebook.com/guilherme.rozaboni"><i class="fa fa-facebook-official" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="http://github.com/aguiroz"><i class="fa fa-github" style="font-size:24px"></a></i>
        </h4>

        <h4>Diogo Felix
          <br>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send?phone=5511989700640"><i class="fa fa-whatsapp" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.linkedin.com/in/diogo-felix-bb918678/"><i class="fa fa-linkedin-square" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.facebook.com/diogo.felix.96"><i class="fa fa-facebook-official" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="http://github.com/"><i class="fa fa-github" style="font-size:24px"></a></i>
        </h4>

        <h4>Fabio Soares
          <br>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send?phone=5511959164508"><i class="fa fa-whatsapp" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.linkedin.com/in/fabio-soaresv"><i class="fa fa-linkedin-square" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.facebook.com/faasoaresv"><i class="fa fa-facebook-official" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="http://github.com/fabiosoaresv"><i class="fa fa-github" style="font-size:24px"></a></i>
        </h4>

        <h4>Marcos Antônio
          <br>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send?phone=5511977685265"><i class="fa fa-whatsapp" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.linkedin.com/in/marcos-barbosa-04abb5124/"><i class="fa fa-linkedin-square" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="https://www.facebook.com/esp.marcos"><i class="fa fa-facebook-official" style="font-size:24px"></a></i>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <a href="http://github.com/marcosaabarbosa"><i class="fa fa-github" style="font-size:24px"></a></i>
        </h4>
      </center>
    </div>
  </body>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosaabarbosa
      </center>
    </small>
  </footer>
</html>
