<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
    <%= menu %>
  </header>

  <body>
    <h1>Temperatura</h1>

    <div>
      <p align="justify">
        <h2>Enchente</h2>
          <br>
          As enchentes, por sua vez, são divididas em dois tipos, enchentes devido à urbanização e enchentes em áreas ribeirinhas:  a primeira é
          caracterizada pelo aumento de sua frequência e magnitude devido à ocupação do solo com superfícies impermeáveis e rede de condutos de
          escoamentos. Adicionalmente o desenvolvimento urbano pode produzir obstruções ao escoamento como aterros e pontes, drenagens inadequadas e
          obstruções ao escoamento junto a condutos e assoreamento. As enchentes em áreas ribeirinhas são naturais, atingindo a população que ocupa o
          leito maior dos rios.
          <br><br>
          Essas enchentes ocorrem, principalmente, pelo processo natural no qual o rio ocupa o seu leito maior, de acordo com os eventos extremos, em
          média com tempo de retorno da ordem de 2 anos. As enchentes também são conceituadas como fenômenos naturais, que ocorrem periodicamente nos
          cursos d’água devido a chuvas de magnitude elevada. Estas, em áreas urbanas, podem ser decorrentes de chuvas intensas de largo período de
          retorno ou devido a transbordamentos de cursos d’água provocados por mudanças no equilíbrio no ciclo hidrológico em regiões a montante das
          áreas urbanas; ou ainda, devidas à própria urbanização.
          <br>
        <h2>Alagamento</h2>
          <br>
          De acordo com as análises de Grilo, os alagamentos ocorrem, geralmente, em áreas planas ou com depressões e fundos de vales, com o
          escoamento superficial comprometido pela topografia e falta ou insuficiência de um sistema pluvial no ambiente urbano. Ainda, quanto menor
          a extensão de áreas verdes, menor a infiltração de água no solo, que alimenta os aquíferos suspensos, causando menor auxílio para o
          escoamento superficial, as quais poderiam atenuar as causas dos mesmos.
          <br>
          A COBRADE, por sua vez, classifica alagamentos como a extrapolação da capacidade de escoamento de sistemas de drenagem urbana e consequente
          acúmulo de água em ruas, calçadas ou outras infraestruturas urbanas, em decorrência de precipitações intensas. Os termos anotados para
          classificar os eventos deste trabalho serão os de inundação e de alagamento, em razão das conceituações serem consideradas as mais
          adequadas ao tipo de evento, em meios urbanos e causados por chuvas extremas.
          <br>
        <h2>Aquecimento global</h2>
          <br>
          Contribuição para intensificação do efeito estufa, pois o desmatamento libera quantidades significativas de gases de efeito estufa.
          <br><br>
          E quais as suas causas?
          <br><br>
          O desmatamento pode ter alguma causa natural, porém, a atividade humana é a principal responsável pelo processo.
          <br><br>
          As causas  do desmatamento são variadas, mas incluem desde a necessidade pelos produtos da floresta (madeira, remédios, frutos, fibras,
          caça, etc), até a expansão das cidades.
          <br><br>
          Um fato é que o ser humano destrói essas áreas desde os tempos pré-históricos para atender as suas necessidades.
          <br><br>
          Uma das formas de realizar o desmatamento é através das queimadas. Desmatamento no mundo
          <br><br>
          Os países desenvolvidos foram os primeiros a destruir suas florestas para obter ganhos econômicos. Assim, boa parte das áreas vegetadas
          dos países considerados mais ricos estão totalmente destruídas.
          <br><br>
          Atualmente, os países em desenvolvimento são os principais responsáveis pelo desmatamento no mundo.
          <br><br>
          Quais são as áreas mais desmatadas no mundo? Florestas da Indo-Birmânia (Ásia-Pacífico);
          <br><br>
          Nova Zelândia (Oceania);
          <br><br>
          Sunda (Indonésia, Malásia e Brunei-Ásia-Pacífico); Filipinas (Ásia-Pacífico);
          <br><br>
          Mata Atlântica (América do Sul); Montanhas do Centro-Sul da China (Ásia);
          <br><br>
          Província Florística da Califórnia (América do Norte); Florestas Costeiras da África Oriental (África); Madagascar e ilhas do Oceano Índico
          (África); Florestas de Afromontane (África Oriental).
          <br>
        <h2>Inversão Térmica</h2>
          <br>
          A Inversão térmica é um fenômeno natural registrado em qualquer parte do planeta, que corresponde à inversão das camadas atmosféricas
          (em escala local) de forma que o ar frio permanece em baixas altitudes e o ar quente nas camadas mais elevadas.
          <br><br>
          Dessa maneira, ocorre assim, uma desestabilização momentânea da circulação atmosférica e alteração na temperatura.
          <br>
        <h2>Como ocorre a Inversão Térmica</h2>
          <br>
          Normalmente, a inversão térmica acontece no final da madrugada e no início da manhã, em particular, no período do inverno, visto que nessa
          estação tanto o solo quanto o ar, registram temperaturas mais baixas que próximas do solo, podem chegar abaixo de 4ºC.
          <br><br>
          Com isso, resulta na impossibilidade do ar frio se elevar, ficando retido nas camadas mais baixas da atmosfera, enquanto o ar relativamente
          mais quente, que ocupa as camadas mais elevadas da atmosfera, não consegue descer.
          <br><br>
          Portanto, ocorre, desta forma, uma estabilização temporária da circulação atmosférica, em escala local, onde se verifica uma inversão das
          camadas ou a chamada Inversão Térmica: o ar frio (mais denso) permanece abaixo e o ar quente (menos denso) acima.
          <br><br>
          Logo após o nascer do sol, a inversão térmica começa a se desfazer mediante o gradativo aquecimento do solo e do ar, de modo que o ar
          aquecido que se forma sobe, e proporcionalmente, o ar resfriado cai, voltando a normalidade da circulação atmosférica no ambiente.
          <br><br>
          Vale lembrar que o fenômeno da inversão térmica ocorre com mais frequência nas regiões cujo solo absorve bastante calor durante o dia e o
          perde durante a noite, devido sua irradiação, esfriando as camadas mais baixas que ficam impossibilitadas de se elevar.
          <br>
        <h2>A Inversão Térmica e o Efeito Tampão</h2>
          <br>
          A inversão térmica pode ocorrer em qualquer região do planeta, contudo, um ambiente bastante favorável são as Metrópoles, que absorvem
          grande quantidade de calor durante o dia, devido às elevadas concentrações de áreas construídas, a impermeabilização do solo, com asfalto,
          cimento e calçadas, desmatamento; sendo que durante a noite, no entanto, perdem calor rapidamente.
          <br><br>
          Assim, com a propagação do ar quente, o ar frio se concentra nas camadas mais baixas da atmosfera, que impedido de se dispersar, concentra
          toneladas de poluentes, provenientes de várias fontes, principalmente das indústrias, agravando a poluição das baixas camadas da atmosfera.
          <br><br>
          A cidade de São Paulo é um exemplo típico dessa ocorrência, apresentando ainda o chamado "Efeito tampão", que surge com a chegada do verão,
          cujas massas de ar quente, provenientes do oceano formam um tampão sobre a cidade, que é cercada de morros.
          <br><br>
          Essa camada de ar quente impede a subida do ar frio que está próximo ao solo, resultando numa inversão térmica natural. No entanto, o
          "efeito tampão", por impedir a subida do ar frio, permite a concentração de toneladas de poluentes nas camadas mais baixas da atmosfera.
          <br><br>
          Desse modo, ocorre na cidade de São Paulo a inversão térmica de inverno e a de verão. Durante o inverno, em decorrência do baixo índice
          pluviométrico, a inversão térmica torna-se muito mais grave dificultando a dispersão dos poluentes.
          <br><br>
          Importante frisar que esse fenômeno é muito nocivo aos seres humanos, visto que a concentração de poluentes nas camadas próximas do solo,
          desenvolve muitas doenças respiratórias(asma, bronquite, renite), irritações na pele e nos olhos e intoxicações.
          <br><br>
          Soluções para a Diminuição da Inversão Térmica Políticas ambientais favoráveis e eficientes Fiscalização das Indústrias
          <br><br>
          Diminuição das Queimadas Utilização de Biocombustíveis Campanhas de conscientização Curiosidades
          <br><br>
          Em 1952, na cidade de Londres, foi registrada a primeira inversão térmica devido a grande concentração de poluentes.
          <br><br>
          Em setembro de 2007, a cidade de São Paulo registrou um dos piores índices de poluentes causado pela Inversão Térmica.
          <br>
      </p>
    </div>
  </body>

  <%= link_to image_tag("/images/news-letter.png", height: "100", width: "250"), new_informativo_path %>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosaabarbosa
      </center>
    </small>
  </footer>
</html>
